.sockets {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}

.block {
	padding: 5%;
}

.send {
	vertical-align: center;
}

.message__json {
	height: auto;
	min-height: 90%;
	padding: 3%;
	border: 1px solid black;
}

.title {
	font-size: 20px;
	margin-bottom: 3%;
}

.send__input {
	min-height: 90%;
	width: 100%;
	max-width: 100%;
}

.url {
	margin-top: 100%;
	margin-bottom: 2%;
}

.buttons__open {
	margin-bottom: 20%;
}