@font-face {
	/*font-family: aAlbionicTitulInfl;*/
	/*src: url(../font/aAlbionicTitulInfl.ttf) format("truetype");*/
}

body {
	font-family: aAlbionicTitulInfl, cursive;
	background-size: auto;
	background-attachment: fixed;
}

.list {
	position: relative;
	background-color: #DBFCA9;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 3%;
	font-size: 18pt;
	border-radius: 20px;
	border:1px solid #64734D;
}

.list-header {
	font-size: 30pt;
	margin-bottom: 3%;
	margin-top: -2%;
}

.list-header hr {
	color: #64734D;
	background-color: #64734D;
	opacity: 1;
	height: 1px;
	border: 0;
}

.list-sub-header {	
	font-size: 22pt;
	margin-bottom: 2%;
}

.back {
	font-size: 18pt;
	color: #3B1A1A;
	padding-right: 1%;
	padding-top: 1%;
}

.back a {
	display: inline-block;
	margin-right: 4%;
}

.back img {
	max-width: 14%;
	max-height: auto;
}

.control-label {
	font-size: 20pt;
}

.line { 
	padding-bottom: 1%;
}

#subm {
	padding-top: 1%;
}

.btn-class:visited {
	text-decoration: none;
}

.btn-class {
	display: inline-block;
	border:1px solid #64734D;
	border-radius: 20px;
	color: #705D07;
	font-family: aAlbionicTitulInfl, cursive;
	font-weight: bolder;
	width: 250px;
	height: 225px;
	font-size: 30px;
	padding: 20px 20px;
	box-shadow: inset 0 1px 0 0 #C7E69A,inset 0 -1px 0 0 #A0B87B,inset 0 0 0 1px #B8D48E;
	-moz-box-shadow: inset 0 1px 0 0 #C7E69A,inset 0 -1px 0 0 #A0B87B,inset 0 0 0 1px #B8D48E,0 2px 4px 0 #D4D4D4;
	-webkit-box-shadow: inset 0 1px 0 0 #C7E69A,inset 0 -1px 0 0 #A0B87B,inset 0 0 0 1px #B8D48E,0 2px 4px 0 #D4D4D4;
	text-shadow: 0 1px 0 #FFFFFF;
	background-color: #DBFCA9;
	text-decoration: none;
	margin-right: 5%;
}

.bl {
	padding-bottom: 1%;
}

.padd {
	width: 99%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    /*margin-top: 5%;*/
    /*padding-bottom: 5%;*/
}

.menu-button {
	background-repeat:  no-repeat;
	background-position: 20%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

.menu-button:hover, .menu-button:active {
	background-repeat:  no-repeat;
	text-decoration: none;
	border:1px solid #93A871;
	border-radius: 50px;
	color: #3B1A1A;  
}

#ruby {
	background-image: url(../img/ruby.png) ;
}

#ruby:hover, #ruby:active {
	background-image: url(../img/ruby1.png) ;
}

#izum {
	background-image: url(../img/izum.png) ;
}

#izum:hover, #izum:active {
	background-image: url(../img/izum1.png) ;
}

#saph {
	background-image: url(../img/saph.png) ;
}

#saph:hover, #saph:active {
	background-image: url(../img/saph1.png) ;
}

#bril {
	background-image: url(../img/bril.png) ;
}

#bril:hover, #bril:active {
	background-image: url(../img/bril1.png) ;
}

#kirka {
	background-position: left bottom;
	position:fixed;
	bottom:0%;   
	left:-7%;
}

.txt {
	color:  #3B1A1A;
	font-family: aAlbionicTitulInfl, cursive;
	display:inline;
}

#divtxt {
	position: absolute;
	top: 0;
	right: 3%
}

#divbut {
	position: absolute;
	top: 8%;
	right: 3%;
}

.button {
	border: 1px solid #0a3c59;
	background: #826639;
	background: -webkit-gradient(linear, left top, left bottom, from(#c47d43), to(#826639));
	background: -webkit-linear-gradient(top, #c47d43, #826639);
	background: -moz-linear-gradient(top, #c47d43, #826639);
	background: -ms-linear-gradient(top, #c47d43, #826639);
	background: -o-linear-gradient(top, #c47d43, #826639);
	background-image: -ms-linear-gradient(top, #c47d43 0%, #826639 100%);
	padding: 7px 14px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	text-shadow: #0e496e 0 1px 0;
	color: #ffe69c;
	font-size: 17px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
	border: 1px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #5c4a2f;
	background: -webkit-gradient(linear, left top, left bottom, from(#b87b4d), to(#5c4a2f));
	background: -webkit-linear-gradient(top, #b87b4d, #5c4a2f);
	background: -moz-linear-gradient(top, #b87b4d, #5c4a2f);
	background: -ms-linear-gradient(top, #b87b4d, #5c4a2f);
	background: -o-linear-gradient(top, #b87b4d, #5c4a2f);
	background-image: -ms-linear-gradient(top, #b87b4d 0%, #5c4a2f 100%);
	color: #e6c163;
}

.button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 1px solid #0a3c59;
	background: #4d2613;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d2613), to(#5c4a2f));
	background: -webkit-linear-gradient(top, #4d2613, #4d2613);
	background: -moz-linear-gradient(top, #4d2613, #4d2613);
	background: -ms-linear-gradient(top, #4d2613, #4d2613);
	background: -o-linear-gradient(top, #4d2613, #4d2613);
	background-image: -ms-linear-gradient(top, #4d2613 0%, #4d2613 100%);
	color: #c47937;
}