body {
	font-family: aAlbionicTitulInfl, cursive;
	background-size: auto;
	background-attachment: fixed;
}

.list {
	position: relative;
	background-color: #DBFCA9;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 3%;
	font-size: 18pt;
	border-radius: 20px;
	border:1px solid #64734D;
}

.list__header {
	font-size: 30pt;
	margin-bottom: 3%;
	margin-top: -2%;
}

.list__header hr {
	color: #64734D;
	background-color: #64734D;
	opacity: 1;
	height: 1px;
	border: 0;
}

.list__sub-header {	
	font-size: 22pt;
	margin-bottom: 2%;
}

.line { 
	padding-bottom: 1%;
}

.padd {
	width: 99%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.kirka {
	background-position: left bottom;
	position:fixed;
	bottom:0%;   
	left:-7%;
}

.left-bar {
	height: 100vh;
	padding: 0px;
}

.game-field {
	height: 100vh;
	padding: 0px;
}

.hints-field {
	height: 100vh;
	padding: 0px;
}